apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "myriad-web.fullname" . }}
  labels:
    {{- include "myriad-web.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "myriad-web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "myriad-web.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "myriad-web.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: NEXT_PUBLIC_APP_ENVIRONMENT
              value: {{ .Values.config.appEnvironment }}
            - name: NEXT_PUBLIC_APP_NAME
              value: {{ .Values.config.appName }}
            - name: NEXT_PUBLIC_APP_VERSION
              value: {{ .Values.config.appVersion }}
            - name: NEXT_PUBLIC_APP_AUTH_URL
              value: {{ .Values.config.appAuthURL }}
            {{- if .Values.config.appSecret }}
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.appSecretName" . }}
                  key: secret
            {{- end }}
            - name: NEXT_PUBLIC_MYRIAD_WEBSITE_URL
              value: {{ .Values.config.websiteURL }}
            - name: NEXT_PUBLIC_MYRIAD_SUPPORT_MAIL
              value: {{ .Values.config.supportMail }}
            - name: MYRIAD_API_URL
              value: {{ .Values.config.apiURL }}
            {{- if and (and (and .Values.config.firebase.apiKey .Values.config.firebase.projectId) (and .Values.config.firebase.messagingSenderId .Values.config.firebase.appId)) .Values.config.firebase.measurementId }}
            - name: NEXT_PUBLIC_FIREBASE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.firebaseSecretName" . }}
                  key: apiKey
            - name: NEXT_PUBLIC_FIREBASE_PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.firebaseSecretName" . }}
                  key: projectId
            - name: NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.firebaseSecretName" . }}
                  key: messagingSenderId
            - name: NEXT_PUBLIC_FIREBASE_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.firebaseSecretName" . }}
                  key: appId
            - name: NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.firebaseSecretName" . }}
                  key: measurementId
            {{- end }}
            {{- if .Values.config.sentry.dsn }}
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.sentrySecretName" . }}
                  key: dsn
            {{- end }}
            {{- if .Values.config.facebook.appId }}
            - name: NEXT_PUBLIC_FACEBOOK_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-web.facebookSecretName" . }}
                  key: appId
            {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          startupProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
