{{- if .Values.config.app.secret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-web.appSecretName" . }}
type: Opaque
data:
  secret: {{ .Values.config.app.secret | b64enc }}

---

{{- end }}
{{- if and (and (and .Values.config.firebase.apiKey  .Values.config.firebase.projectId) (and .Values.config.firebase.messagingSenderId .Values.config.firebase.appId)) .Values.config.firebase.measurementId .Values.config.firebase.storageBucket }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-web.firebaseSecretName" . }}
type: Opaque
data:
  apiKey: {{ .Values.config.firebase.apiKey | b64enc }}
  projectId: {{ .Values.config.firebase.projectId | b64enc }}
  messagingSenderId: {{ .Values.config.firebase.messagingSenderId | b64enc }}
  storageBucket: {{ .Values.config.firebase.storageBucket | b64enc }}
  appId: {{ .Values.config.firebase.appId | b64enc }}
  measurementId: {{ .Values.config.firebase.measurementId | b64enc }}

---
{{- end }}
