apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "myriad-federated.fullname" . }}
  labels:
    {{- include "myriad-federated.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "myriad-federated.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "myriad-federated.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "myriad-federated.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.config.app.environment }}
            - name: NEXT_PUBLIC_APP_ENVIRONMENT
              value: {{ .Values.config.app.environment }}
            {{- end }}
            {{- if .Values.config.app.name }}
            - name: NEXT_PUBLIC_APP_NAME
              value: {{ .Values.config.app.name }}
            {{- end }}
            {{- if .Values.config.app.version }}
            - name: NEXT_PUBLIC_APP_VERSION
              value: {{ .Values.config.app.version }}
            {{- end }}
            {{- if .Values.config.app.authURL }}
            - name: NEXT_PUBLIC_APP_AUTH_URL
              value: {{ .Values.config.app.authURL }}
            {{- end }}
            {{- if .Values.config.app.secret }}
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "myriad-federated.appSecretName" . }}
                  key: secret
            {{- end }}
            {{- if .Values.config.websiteURL }}
            - name: NEXT_PUBLIC_MYRIAD_WEBSITE_URL
              value: {{ .Values.config.websiteURL }}
            {{- end }}
            {{- if .Values.config.supportMail }}
            - name: NEXT_PUBLIC_MYRIAD_SUPPORT_MAIL
              value: {{ .Values.config.supportMail }}
            {{- end }}
            {{- if .Values.config.rpcURL }}
            - name: NEXT_PUBLIC_MYRIAD_RPC_URL
              value: {{ .Values.config.rpcURL }}
            {{- end }}
            {{- if .Values.config.sentry.dsn }}
            - name: NEXT_PUBLIC_SENTRY_DSN
              value: {{ .Values.config.sentry.dsn }}
            {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          {{- if .Values.config.startupProbe.path }}
          startupProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          {{- end }}
          {{- if .Values.config.livenessProbe.path }}
          livenessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          {{- end }}
          {{- if .Values.config.readinessProbe.path }}
          readinessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          {{- end }}
