{{- if .Values.config.app.secret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-federated.appSecretName" . }}
type: Opaque
data:
  secret: {{ .Values.config.app.secret | b64enc }}

---

{{- end }}
