# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OSX Operating System Files
.DS_Store
.AppleDouble
.LSOverride

# dotenv environment variables file
.env

# misc
*.pem

# Helm chart automated files
/charts/*/charts
