apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "myriad-cms.fullname" . }}
  labels:
    {{- include "myriad-cms.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "myriad-cms.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "myriad-cms.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "myriad-cms.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.config.host }}
            - name: HOST
              value: "{{ .Values.config.host }}"
            {{- end }}
            {{- if .Values.config.port }}
            - name: PORT
              value: "{{ .Values.config.port }}"
            {{- end }}
            {{- if .Values.config.webUrl }}
            - name: REACT_APP_MYRIAD_WEB_URL
              value: "{{ .Values.config.webUrl }}"
            {{- end }}
            {{- if .Values.config.apiUrl }}
            - name: REACT_APP_MYRIAD_API_URL
              value: "{{ .Values.config.apiUrl }}"
            {{- end }}
            {{- if .Values.config.apiKey }}
            - name: REACT_APP_MYRIAD_API_KEY
              value: "{{ .Values.config.apiKey }}"
            {{- end }}
            {{- if .Values.config.websiteUrl }}
            - name: REACT_APP_MYRIAD_WEBSITE_URL
              value: "{{ .Values.config.websiteUrl }}"
            {{- end }}
            {{- if .Values.config.supportMail }}
            - name: REACT_APP_MYRIAD_SUPPORT_MAIL
              value: "{{ .Values.config.supportMail }}"
            {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          {{- if .Values.config.startupProbe.path }}
          startupProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          {{- end }}
          {{- if .Values.config.livenessProbe.path }}
          livenessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          {{- end }}
          {{- if .Values.config.readinessProbe.path }}
          readinessProbe:
            httpGet:
              path: /api/healthcheck
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          {{- end }}
