{{- if .Values.config.faucetMnemonic }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.faucetSecretName" . }}
type: Opaque
data:
  mnemonic: {{ .Values.config.faucetMnemonic | b64enc }}

---
{{- end }}
{{- if .Values.config.escrowSecretKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.escrowSecretName" . }}
type: Opaque
data:
  secretKey: {{ .Values.config.escrowSecretKey | b64enc }}

---
{{- end }}
{{- if and .Values.config.jwt.tokenSecretKey .Values.config.jwt.refreshTokenSecretKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.jwtSecretName" . }}
type: Opaque
data:
  tokenSecretKey: {{ .Values.config.jwt.tokenSecretKey | b64enc }}
  refreshTokenSecretKey: {{ .Values.config.jwt.refreshTokenSecretKey | b64enc }}

---
{{- end }}
{{- if and .Values.config.mongo.user .Values.config.mongo.password }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.mongoSecretName" . }}
type: Opaque
data:
  user: {{ .Values.config.mongo.user | b64enc }}
  password: {{ .Values.config.mongo.password | b64enc }}

---
{{- end }}
{{- if and .Values.config.redis.connector .Values.config.redis.host .Values.config.redis.port .Values.config.redis.password }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.redisSecretName" . }}
type: Opaque
data:
  connector: {{ .Values.config.redis.connector | b64enc }}
  host: {{ .Values.config.redis.host | b64enc }}
  port: {{ .Values.config.redis.port | b64enc }}
  password: {{ .Values.config.redis.password | b64enc }}

---
{{- end }}
{{- if .Values.config.firebase.serviceAccountBase64 }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.firebaseSecretName" . }}
type: Opaque
data:
  serviceAccount: {{ .Values.config.firebase.serviceAccountBase64 }}

---
{{- end }}
{{- if .Values.config.sentry.dsn }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.sentrySecretName" . }}
type: Opaque
data:
  dsn: {{ .Values.config.sentry.dsn | b64enc }}

---
{{- end }}
{{- if .Values.config.twitter.apiKey }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.twitterSecretName" . }}
type: Opaque
data:
  apiKey: {{ .Values.config.twitter.apiKey | b64enc }}

---
{{- end }}
{{- if .Values.config.coinMarketCap.apiKey }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myriad-api.coinMarketCapSecretName" . }}
type: Opaque
data:
  apiKey: {{ .Values.config.coinMarketCap.apiKey | b64enc }}
{{- end }}
